.ButtonComp {
  height: 50px;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  width: 100%;
  border-radius: 8px;
  color: white;
  text-align: center;
}

.ButtonComp:disabled {
  opacity: 0.5;
}
