.Landing_Container {
  height: 100vh;
  background: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.Landing_Container > div {
  display: flex;
  gap: 3px;
}

svg {
  animation-name: fadeIn;
  animation-duration: 3s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
