.Login-page {
  display: flex;
}

.Image-section {
  background-image: url('/landing-background-image.jpg');
  /* background-position: center; */
  width: 50%;
  height: 99.97vh;
}

.Form-section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 99.97vh;
}

.Form-section > div {
  width: 60%;
}

.form-title {
  padding-bottom: 30px;
}

@media screen and (max-width: 1002px) {
  .Image-section {
    display: none;
  }

  .Form-section {
    width: 100%;
  }
}

@media screen and (max-width: 484px) {
  .Form-section h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 413px) {
  .Form-section h2 {
    font-size: 100%;
  }
}
